</div>
<footer class="blog-footer">
  <p class="mt-0 mb-0 text-muted text-center">&copy; 2020 - IoT Team | Covid-19</p>
    </p>
  </footer>
  <script src="/public/js/jquery-3.1.1.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/designStyles.js"></script>
  <script src="/public/js/escapeCharacters.js"></script>
  <script src="/public/js/ajax.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/19.0.0/classic/ckeditor.js"></script> -->
  <!-- <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script> -->


  <script>
    document.title = pageName;
  </script>
  </body>
  </html>