<script>
    let pageName = "Anasayfa";
</script>


<%-include('topView')%>






<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<link rel="stylesheet" type="text/css"  href="/public/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="/public/css/main.css" >
<script src="/public/css/footable.bootstrap.css"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!-- şemaların başlıkları -->


<div class="row">
    


    <div class="col-lg-4">
        <div class="bg-white rounded-lg p-5 shadow">
            <h1 class="h3 font-weight-bold text-center mb-4">A Bölgesi</h1>
        </div>
    </div>

    <div class=" col-lg-4 ">
        <div class="bg-white rounded-lg p-5 shadow">
            <h1 class="h3 font-weight-bold text-center mb-4">B Bölgesi</h1>
        </div>
    </div>

    <div class=" col-lg-4 ">
        <div class="bg-white rounded-lg p-5 shadow">
            <h1 class="h3 font-weight-bold text-center mb-4">C Bölgesi</h1>
        </div>
    </div>

   
</div>


<!-- Şema başlıkları bitiş -->




<!-- Şemalar -->

<div class="row">

    

    <!-- Donut 1 -->
    <div class="col-md-2">

        <div id="donut1value" class="progress mx-auto" data-value='null'>
            <span class="progress-left">
                <span class="progress-bar border-primary"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar border-primary"></span>
            </span>

            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">

                <div id="donut1text" class="h2 font-weight-bold"></div>
                <div class="h2 font-weight-bold"><sup class="small">%</sup></div>

            </div>
        </div>
        <!-- donut bilgisi-->
        <div class="row text-center mt-4">
            <div class="col-4 "> </div>
            <div class="col-2 ">
                <div class="h4 font-weight-bold mb-0">Pil</div>
            </div>
        </div>
        <!-- END -->
    </div>
    <!-- END -->

    <!-- Donut 2 -->

    <div class="col-md-2">
        <div id="donut2value" class="progress mx-auto" data-value='null'>

            <span class="progress-left">
                <span class="progress-bar border-danger"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar border-danger"></span>
            </span>

            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">

                <div id="donut2text" class="h2 font-weight-bold"></div>
                <div class="h2 font-weight-bold"><sup class="small">%</sup></div>

            </div>

        </div>
        <!-- donut bilgisi-->
        <div class="row text-center mt-4">

            <div class="col-3 "> </div>
            <div class="col-2 ">
                <div class="h4 font-weight-bold mb-0">Duman</div>
            </div>

        </div>

        <!-- END -->
    </div>
    <!-- END -->

    <!-- Donut 3 -->
    <div class="col-md-2">

        <div id="donut3value" class="progress mx-auto" data-value='null'>
            <span class="progress-left">
                <span class="progress-bar border-success"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar border-success"></span>
            </span>
            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">

                <div id="donut3text" class="h2 font-weight-bold"></div>
                <div class="h2 font-weight-bold"><sup class="small">%</sup></div>

            </div>
        </div>
        <!-- donut bilgisi-->
        <div class="row text-center mt-4">
            <div class="col-4 "> </div>
            <div class="col-2 ">
                <div class="h4 font-weight-bold mb-0">Pil</div>
            </div>
        </div>

        <!-- END -->

    </div>
    <!-- END -->

    <!-- Donut 4 -->
    <div class="col-md-2">
        <div id="donut4value" class="progress mx-auto" data-value='null'>

            <span class="progress-left">
                <span class="progress-bar border-warning"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar border-warning"></span>
            </span>

            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">

                <div id="donut4text" class="h2 font-weight-bold"></div>
                <div class="h2 font-weight-bold"><sup class="small">%</sup></div>

            </div>
        </div>
        <!-- donut bilgisi-->
        <div class="row text-center mt-4">
            <div class="col-3 "> </div>
            <div class="col-2 ">
                <div class="h4 font-weight-bold mb-0">Duman</div>
            </div>
        </div>

        <!-- END -->


    </div>
    <!-- END -->

         <!-- Donut 5 -->
         <div class="col-md-2">

            <div id="donut5value" class="progress mx-auto" data-value='null'>
                <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                </span>
    
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
    
                    <div id="donut5text" class="h2 font-weight-bold"></div>
                    <div class="h2 font-weight-bold"><sup class="small">%</sup></div>
    
                </div>
            </div>
            <!-- donut bilgisi-->
            <div class="row text-center mt-4">
                <div class="col-4 "> </div>
                <div class="col-2 ">
                    <div class="h4 font-weight-bold mb-0">Pil</div>
                </div>
            </div>
            <!-- END -->
        </div>
        <!-- END -->
    
        <!-- Donut 6 -->
    
        <div class="col-md-2">
            <div id="donut6value" class="progress mx-auto" data-value='null'>
    
                <span class="progress-left">
                    <span class="progress-bar border-danger"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-danger"></span>
                </span>
    
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
    
                    <div id="donut6text" class="h2 font-weight-bold"></div>
                    <div class="h2 font-weight-bold"><sup class="small">%</sup></div>
    
                </div>
    
            </div>
            <!-- donut bilgisi-->
            <div class="row text-center mt-4">
    
                <div class="col-3 "> </div>
                <div class="col-2 ">
                    <div class="h4 font-weight-bold mb-0">Duman</div>
                </div>
    
            </div>
    
            <!-- END -->
        </div>
        <!-- END -->
    
    

</div>

<!-- Şemalar bitiş -->





</br>
</br>
</br>
</br>






<!-- VERİLERİ ANLIK OLARAK SİTEYE İŞLEME FONKSİYONU -->

    <script>
        const socket = io("http://localhost:3000");
        socket.on('sensor_a1', function (msg) {

            console.log(msg);
            document.getElementById("donut1text").innerHTML = msg.voltage;
            document.getElementById("donut1value").setAttribute("data-value", msg.voltage);
            document.getElementById("donut2text").innerHTML = msg.flame;
            document.getElementById("donut2value").setAttribute("data-value", msg.flame);

            // ŞEMA FONKSİYONU

            $(function() {

$(".progress").each(function() {

  var value = $(this).attr('data-value');
  var left = $(this).find('.progress-left .progress-bar');
  var right = $(this).find('.progress-right .progress-bar');

  if (value > 0) {
    if (value <= 50) {
      right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
      left.css('transform', 'rotate(' + percentageToDegrees(0) + 'deg)')
    } else {
      right.css('transform', 'rotate(180deg)')
      left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
    }
  }

})
            

function percentageToDegrees(percentage) {

  return percentage / 100 * 360

}
});


            var x = Number(msg.voltage);
            var y = Number(msg.flame);
            if(x < 25){
                alert("Pil azaldı!")
            }
            if (y > 60){
                alert("Yangın var!")
            }

        });

        
        socket.on('sensor_b1', function (msg) {
            var x = Number(msg.voltage);
            var y = Number(msg.flame);
           

           
            console.log(msg);
            document.getElementById("donut3text").innerHTML = msg.voltage;
            document.getElementById("donut3value").setAttribute("data-value", msg.voltage);
            document.getElementById("donut4text").innerHTML = msg.flame;
            document.getElementById("donut4value").setAttribute("data-value", msg.flame);

        // ŞEMA FONKSİYONU

        $(function() {

$(".progress").each(function() {

  var value = $(this).attr('data-value');
  var left = $(this).find('.progress-left .progress-bar');
  var right = $(this).find('.progress-right .progress-bar');

  if (value > 0) {
    if (value <= 50) {
      right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
      left.css('transform', 'rotate(' + percentageToDegrees(0) + 'deg)')
    } else {
      right.css('transform', 'rotate(180deg)')
      left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
    }
  }

})
            

function percentageToDegrees(percentage) {

  return percentage / 100 * 360

}
});





        if(x < 30){
                        alert("Pil azaldı!")
                    }
                    if (y > 60){
                        alert("Yangın var!")
                    }

   
        });


        socket.on('sensor_c1', function (msg) {


console.log(msg);
document.getElementById("donut5text").innerHTML = msg.voltage;
document.getElementById("donut5value").setAttribute("data-value", msg.voltage);
document.getElementById("donut6text").innerHTML = msg.flame;
document.getElementById("donut6value").setAttribute("data-value", msg.flame);

// ŞEMA FONKSİYONU

$(function() {

$(".progress").each(function() {

var value = $(this).attr('data-value');
var left = $(this).find('.progress-left .progress-bar');
var right = $(this).find('.progress-right .progress-bar');

if (value > 0) {
if (value <= 50) {
right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
left.css('transform', 'rotate(' + percentageToDegrees(0) + 'deg)')
} else {
right.css('transform', 'rotate(180deg)')
left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
}
}

})


function percentageToDegrees(percentage) {

return percentage / 100 * 360

}
});


var x = Number(msg.voltage);
var y = Number(msg.flame);
if(x < 30){
    alert("Pil azaldı!")
}
if (y > 60){
    alert("Yangın var!")
}

});


     
    </script>
<!-- VERİLERİ ANLIK OLARAK SİTEYE İŞLEME FONKSİYONU BİTİŞ -->



<!-- Geçmiş Veriler Tablosu -->


<table id = "tablo"  class="table"   data-sorting="true"></table>

<!-- Geçmiş Veriler Tablosu Bitiş -->

</br>
</br>
</br>
</br>




<!-- Veritabanından Gelecek Geçmiş Veri Temsili -->
<script>
    var jsonobj = [
       
            {"sensor_id":"sensor_a2","voltage":"10","flame":"90","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T16:31:36.799Z"},
            {"sensor_id":"sensor_a1","voltage":"10","flame":"90","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T16:31:36.799Z"},
            {"sensor_id":"sensor_a1","voltage":"10","flame":"90","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T16:31:10.890Z"},
            {"sensor_id":"sensor_a2","voltage":"10","flame":"90","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T16:31:05.224Z"},
            {"sensor_id":"sensor_a2","voltage":"10","flame":"90","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T16:17:33.624Z"},
            {"sensor_id":"sensor_a1","voltage":"10","flame":"90","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T15:11:24.494Z"},
            {"sensor_id":"sensor_a2","voltage":"10","flame":"88","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T15:09:57.770Z"},
            {"sensor_id":"sensor_a2","voltage":"10","flame":"80","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T15:09:52.775Z"},
            {"sensor_id":"sensor_a1","voltage":"10","flame":"90","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T15:09:38.893Z"},
            {"sensor_id":"sensor_a2","voltage":"10","flame":"90","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T15:09:15.079Z"},
            {"sensor_id":"sensor_a2","voltage":"10","flame":"80","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T15:05:28.138Z"},
            {"sensor_id":"sensor_a1","voltage":"10","flame":"90","location":"asmkdasmd123213","CO":"29","date":"2020-09-04T15:04:51.895Z"}
        
            ]
 </script>
<!-- Temsili Veri Bitiş -->






    <%-include('bottomView')%>



    
    <script src="/public/js/jquery-3.1.1.min.js"></script>
    <script src="/public/js/moment.min.js"></script>
    <script src="/public/js/footable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>








<!-- TABLO FONSİYONU -->


<script>

fetch('/api/yangin')
    .then(response => response.json())
    .then(data => {
        


        jQuery(function($){
	$('#tablo').footable({

         "columns": 
         [
			{ "name": "sensor_id", "title": "ID", "breakpoints": "xs" },
			{ "name": "voltage", "title": "Voltaj" },
			{ "name": "flame", "title": "Flame", "breakpoints": "xs" },
			{ "name": "location", "title": "Location", "breakpoints": "xs sm" },
            { "name": "CO", "title": "CO", "breakpoints": "xs sm md" },
            { "name": "date", "title": "Date", "breakpoints": "xs sm md" }
           
		],    
                                                                    
        "rows": data,
        

        "paging": {
            "enabled": true,
            "container": "#paging-ui-container", 
            "size": 7
		}
        
	});

});



    })
    .catch(err => {
        console.error('An error ocurred', err);
    });


    $(document).ready(function() {
$("#tablo").load("function.php");
var refreshId = setInterval(function() {
$("#tablo").load('function.php?parametre='+ Math.random());
}, 1000); // 1 saniyede bir verileri çek
});


</script>
<!-- TABLO FONSİYONU BİTİŞ -->



