<!doctype html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.6">
  <title></title>

  <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/blog/"> -->

  <!-- Bootstrap core CSS -->
  <link href="/public/css/floating-label.css" rel="stylesheet">
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <script src="/public/js/escapeCharacters.js"></script>
  <script src="/public/js/designStyles.js"></script>
  <script src="/public/js/ajax.js"></script>
  <script src="/public/js/jquery-3.5.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/19.0.0/classic/ckeditor.js"></script> -->
  <!-- <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script> -->
  

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/public/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-2 pt-1">
          <a class="text-muted" href="#"></a>
        </div>
        <div class="col-8 text-center">
          <a class="blog-header-logo text-dark" href="/">Orman Yangını Takip Sistemi</a>
        </div>
     
        <div class="col-2 d-flex justify-content-end align-items-center" id="logout">

        </div>
      </div>
    </header>
  </br>
</br>
<!--
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/">Degerler</a>
      </nav>
    </div>
    <div class="nav-scroller py- mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/istenmeyen-obje-takip">İstenmeyen Obje Tespit Sistemi</a>
      </nav>
    </div>


    -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/asistan">Sensor Alanı </a>
          <a class="nav-item nav-link active" href="/">  Değerler</a>
          
         
        </div>
      </div>
    </nav>


  </br>
</br>


